<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome Admin </h1> <span></span>
	<a th:href="@{/admin/productManager}">Product Manager</a> <br>
	<a th:href="@{/admin/categoryManager}">Category Manager</a> <br>
	<a th:href="@{/admin/orderManager}">Order Manager</a> <br>
	<a th:href="@{/admin/userManager}">User Manager</a> <br>
	<a th:href="@{/admin/reviewManager}">Review Manager</a> <br>
</body>
</html>